.breadcrumb{
    margin-top: 4rem;
    .container{
        max-width: 1110px;
        margin: auto;
    }

    .breadcrumb-list{
        list-style: none;
        padding: 0;

        li{
            display: inline-block;
            font-weight: 500;
            color:$color-theme;

            & + li::before{
                content: '\00a0>\00a0';
                
                color:$color-dark;
            }
            
        }
        
    }

    a{
        color:$color-dark;
        text-decoration: none;
    }

}