.footer{
    margin-top: 4rem;
    width: 100%;
    height: 110px;
    background-color: $color-gray-0;
    border-top: 1px solid $color-gray-2;
    color:$color-dark;

    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    p{
        margin: 0;
        margin-top: 0.5rem;
    }
    i{
        color:$color-dark;
        margin: 0 0.5rem;
        font-size: 18px;
    }
}