.product-details{
    .container{
        width: 1110px;
        margin: auto;
    }
    .getdown{
        margin-top: 1rem;
    }
    .top-part{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:30px;

        .product-image{
            color: red;
            display: grid;
            height: 600px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 3fr 1fr;
            gap: 30px;

            .image-squares{
                background-color:  $color-gray-0;
            }

            #main-image{
                grid-column: 1 / -1;
                background-color:  $color-gray-0;
            }
        }
        .product-shop-choices{
            h2{
                margin: 0;
            }
            p{
                margin: 0;
            }
        }
    }

    .button-choices{
        h3{
            font-weight: 400;
        }
        .button-row{
            display: flex;
        }

        .button-theme{
            height: 47px;
            margin-top: 0.5rem;
            margin-left: 1.5rem;
        }
    }

    .radioCont{
        display: flex;
        height: 40px;
        margin-top: 0.7rem;
        .radio-sizeBtn {
            display: block;
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            font-size: 22px;
            user-select: none;
            margin: 0 1rem;
            &:hover input ~.checkmark {
                background-color: $color-dark;
                color: white;
            }
            & input:checked ~.checkmark {
                background-color: $color-dark;
                color: white;
            }
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 40px;
                width: 40px;
                background-color: #fff;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 16px;  
                    font-weight: 500;
                }
            }
        }
    }

    .qty-btn{
        display: flex;
        width: 130px;
        margin-left: 1rem;
        margin-top: 0.5rem;
        .input{
            width: 60px;
            height: 45px;
            border-top:1px solid $color-dark;
            border-bottom:1px solid $color-dark;
            font-family: $font-poppins;
            color:$color-dark;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        button{
            border:1px solid $color-dark;
            background-color: white;
            width: 35px;
            height: 46.99px;
            font-family: $font-poppins;
            font-weight: 600;
            font-size: 25px;
            cursor: pointer;
        }
    }
    
    

.tab-menu{
    list-style:none;
    display: flex;
    border-bottom: 1px solid gray;
    padding: 0;

    .tab-item{
        margin-right: 1rem;
        button{
            background: transparent;
            border: none;
        }
    }
}

.tab-content{
    border:1px solid gray;
}







}
