.showcase{
    // background-color:$color-gray-1;
    padding-top:5rem;
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 100%);
    overflow: hidden;
    
    ._container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
    }

    .showcase-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h1{
            font-size: 2.5rem;
            font-weight: $font-weight-bold;
            line-height: 1.1;
            text-align: center;
            margin: 0;
            span{
                display: block;
                text-align: center;
            }
        }
        p{
            font-size: 1.3rem;
            text-align: center;
            margin:1rem 0;
        }

        .button-theme{
            @include buttonSmall;
        }
    }

    .img1, .img2{
       display: none;
    }

}

@include md{
.showcase{
    padding-top: 0;
    ._container{
        padding: 0;
    }
    .showcase-text{
        width: 50%;
        h1{
            margin-top: 2rem;
        }
        p{
            font-size: 1rem;
        }

        .button-theme{
            @include buttonSmall;
            margin-bottom: 0;
        }
    }
    .img1, .img2{
        display: block;
        width: 200px;
    }
}
}

@include ul{
.showcase{
    .showcase-text{
        width: 40%;
        padding: 3rem 0;
        h1{
            margin: 0;
            font-size: 4.5rem;
        }
        p{
            font-size: 1.3rem;
            margin: 2rem 0;
        }

        .button-theme{
            @include buttonRegular;
            margin-bottom: 4rem;
        }
    }

    .img1{
        margin-left:-120px;
        width: auto;
    }
    .img2{
        margin-right:-120px;
        width: auto;
    }
}
}
